app = "n8n-mario"

primary_region = "jnb"

[build]
  image = "n8nio/n8n:latest"

[env]
  GENERIC_TIMEZONE = "Africa/Luanda"
  N8N_BASIC_AUTH_ACTIVE = "true"
  N8N_BASIC_AUTH_USER = "admin"
  N8N_BASIC_AUTH_PASSWORD = "admin123"
  N8N_HOST = "0.0.0.0"
  N8N_PORT = "5678"
  WEBHOOK_URL = "https://n8n-mario.fly.dev"

[[services]]
  internal_port = 5678
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
